Strings:

In [1]:
message = 'what do you like?'
response = 'spam'

In [12]:
napis = "    dsd   "
napis.strip()

'dsd'

In [2]:
len(response)

4

In [6]:
response.capitalize?

In [3]:
response.upper()

'SPAM'

In [56]:
line = 'the quick brown fox jumped over a lazy dog'
line.find('fox')

16

In [57]:
line.find('bear')

-1

In [62]:
line.replace('brown','black')

'the quick black fox jumped over a lazy dog'

In [64]:
line.partition('fox')

('the quick brown ', 'fox', ' jumped over a lazy dog')

In [66]:
line.split()

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [74]:
pi = 3.14159
'The value of pi is {0:.3f}'.format(pi)

'The value of pi is 3.142'

In [70]:
'First letter is {0} and last is {1}'.format('A','Z')

'First letter is A and last is Z'

To jest mój piewrszy Markdown
* raz
* dwa

**Lists:**

In [4]:
L=[1,2,13,14,12]

In [5]:
L.append(5)

In [6]:
print(L)

[1, 2, 13, 14, 12, 5]

In [7]:
L.sort()
L

[1, 2, 5, 12, 13, 14]

In [8]:
L[::-2]

[14, 12, 2]

In [9]:
L[-2]

13

**Dictionaries:**

In [1]:
numbers={'ninety':90,'two':2,'one':1}
numbers

{'ninety': 90, 'one': 1, 'two': 2}

In [11]:
numbers['one']

1

In [12]:
numbers['four']=4
numbers

{'four': 4, 'ninety': 90, 'one': 1, 'two': 2}

In [2]:
numbers.get("four","nie ma")

'nie ma'

In [3]:
if('one' in numbers.keys()):
    print('One is a key')

One is a key

In [4]:
'eight' not in numbers.keys()

True

In [3]:
for key,value in numbers.items():
    print(key,value)

ninety 90
two 2
one 1

**Sets:**

In [5]:
primes={2,3,5,7}
odds={1,3,5,7,9}

In [6]:
primes.add(4)

In [7]:
primes.discard(4)

In [8]:
print(primes)

{2, 3, 5, 7}

In [11]:
print({1, 5}.issubset({1, 5, 9}))

True

In [14]:
primes | odds #suma zbiorów

{1, 2, 3, 5, 7, 9}

In [15]:
primes & odds #iloczyn zbiorów

{3, 5, 7}

In [16]:
primes - odds #różnica zbiorów

{2}

In [17]:
primes ^ odds #tylko w jednym zbiorze

{1, 2, 9}

In [18]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

**Loops:**

In [19]:
for n in range(20):
    if n % 2 ==0:
        continue
    print(n,end=' ')

1 3 5 7 9 11 13 15 17 19

**Functions:**

In [52]:
def fibonacci(N,a=0,b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [53]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [8]:
def catch_all(*args,**kargs):
    print('args = ',args)
    print('kargs = ', kargs)

In [10]:
catch_all(1,2,3,one=1,two=2)

args =  (1, 2, 3)
kargs =  {'one': 1, 'two': 2}

In [31]:
L=['a','b','c']
D = {'one':1,'two':2,'three':3}

In [32]:
catch_all(*L,**D)

args =  ('a', 'b', 'c')
kargs =  {'one': 1, 'two': 2, 'three': 3}

**Lambda:**

In [35]:
suma = lambda x,y:x+y

In [36]:
suma(1,2)

3

In [33]:
sorted([2,5,7,1,12,7])

[1, 2, 5, 7, 7, 12]

In [2]:
data = [{'name':'Jan','surname':'Nowak','year':1990},
        {'name':'Ewa','surname':'Kowalska','year':1987},
        {'name':'Tomasz','surname':'Zych','year':1980}]

In [37]:
sorted(data,key = lambda item: item['surname'])

[{'name': 'Ewa', 'surname': 'Kowalska', 'year': 1987},
 {'name': 'Jan', 'surname': 'Nowak', 'year': 1990},
 {'name': 'Tomasz', 'surname': 'Zych', 'year': 1980}]

In [9]:
sorted(data,key = lambda item: item['year'],reverse = True)

[{'name': 'Jan', 'surname': 'Nowak', 'year': 1990},
 {'name': 'Ewa', 'surname': 'Kowalska', 'year': 1987},
 {'name': 'Tomasz', 'surname': 'Zych', 'year': 1980}]

**Iterators:**

In [49]:
for i in range(10,0,-2):
    print(i,end=' ')

10 8 6 4 2

In [50]:
L=[2,6,9,4,3]

In [51]:
for i,j in enumerate(L):
    print(i,j)

0 2
1 6
2 9
3 4
4 3

In [52]:
P=['a','g','f','r']

In [53]:
for licz,liter in zip(L,P):
    print(licz,liter)

2 a
6 g
9 f
4 r

In [55]:
square = lambda x: x ** 2
for i in map(square,range(10)):
    print (i,end = ' ')

0 1 4 9 16 25 36 49 64 81

In [57]:
check_if = lambda x: x % 2 == 0 
for i in filter(check_if,range(10)):
    print(i,end = ' ')

0 2 4 6 8

In [59]:
print(*map(lambda x: x ** 2,range(10)))

0 1 4 9 16 25 36 49 64 81

In [60]:
print(*filter(lambda x: x % 2 == 0,range(10)))

0 2 4 6 8

**List comprehensions:**

In [61]:
[val for val in range(20) if val % 3>0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [16]:
[(n ** 2,m ** 3) for n in range(3) for m in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1), (4, 0), (4, 1)]

**Generators: **

In [28]:
G = (n for n in range(10))
for iter in G:
    print(iter, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
G = (n ** 2 for n in range(10))
for i in G:
    print(i, end = ' ') #break generator
    if i > 20:break
print('\nDo something else')
for i in G:
    print(i, end = ' ')#continue

0 1 4 9 16 25
Do something else
36 49 64 81

In [27]:
def gen(iter):
    for n in range(iter):
        yield n **2
G1 = gen(5)
print(*G1)
G2 = gen(10)
print(*G2)

0 1 4 9 16
0 1 4 9 16 25 36 49 64 81

In [30]:
def gen_prime(N):
    """Generate primes up to N"""
    primes = set()
    for n in range(2,N):
        if all(n % p > 0 for p in primes):
            primes.add(n)
            yield n
print(*gen_prime(70))

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67

**Regular expresions:**

```\d ```Any digit

```\D``` Any non-digit

```\s``` Any whitespace

```\S``` Any non-whitespace

```\w``` Any alphanumerich char

```\W``` Any non-alphanumeric char
+ - przynajmniej jeden raz
* - zero lub wiecej razy

In [95]:
import re

In [93]:
line = 'the quick brown fox jumped over a lazy dog'

In [82]:
regex = re.compile('\s')
regex.split(line)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [87]:
regex = re.compile('fox')
match = regex.search(line)b
match.start()

16

In [89]:
regex = re.compile('\w\s\w')
regex.findall('the fox is 9 years old.')

['e f', 'x i', 's 9', 's o']

In [97]:
regex = re.compile('[A-Z][1-9]')
regex.findall('18302-1 a5 H8 Y7')

['H8', 'Y7']

In [98]:
regex = re.compile('\w{3}')
regex.findall('The fox is very fast.')

['The', 'fox', 'ver', 'fas']

In [120]:
text = 'To email Guido, try guido@python.org \
or the older address andy.guido@gmail.com.'

In [110]:
email = re.compile('[\w.]+@\w+\.[a-z]{3}')

In [131]:
L = email.findall(text)
L

['guido@python.org', 'andy.guido@gmail.com']

In [125]:
email2 = re.compile('([\w.]+)@(\w+)\.([a-z]{3})')
email2.findall(text)

[('guido', 'python', 'org'), ('andy.guido', 'gmail', 'com')]

In [129]:
email3 = re.compile('(?P<user>[\w.]+)@(?P<domain>\w+)\.(?P<suffix>[a-z]{3})')
match = email3.match('andy.guido@gmail.com')
match.groupdict()

{'domain': 'gmail', 'suffix': 'com', 'user': 'andy.guido'}

In [134]:
L[0]

'guido@python.org'

In [155]:
 email3 = re.compile('(?P<user>[\w.]+)@(?P<domain>\w+)\.(?P<suffix>[a-z]{3})')
for adress in L:
    print (adress , end = ' ')
    match = email3.match(adress)
    d = match.groupdict()
    print('kargs = ', d)

guido@python.org kargs =  {'user': 'guido', 'domain': 'python', 'suffix': 'org'}
andy.guido@gmail.com kargs =  {'user': 'andy.guido', 'domain': 'gmail', 'suffix': 'com'}